.header{
    width: 100%;
    max-width: 780px;
    height: 70px;
    background-color: #4566BA;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4%;
    z-index: 1030;
}
.outer-input{
    width: auto;
    height: 70%;
    background-color: white;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.outer-input input{
    border: none;
    width: 80%;
    font-size: 20px;
    margin-left:10px ;
}
.outer-input i{
    margin-right: 8px;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.mycard{
    background-color: #f5f8ff;
    width: 90%;
    border-radius: 15px;
    min-height: 25vh;
    padding-bottom: 34px;
    margin-bottom: 30px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.mycard > div:nth-child(1){
    padding-top: 10px;
    padding-left: 1%;
    padding-right: 4%;
    text-align: right;
    margin-bottom:10px;
    font-size: 16px;
}
.mycard > h1{
    font-size: 16px;
    margin-bottom:0;
}
.mycard h5{
    font-size: 16px;
    margin-bottom: 0;
}
.mycard .row{
    padding: 30px;
    padding-top: 0;
    padding-bottom: 0;
}
.mycard::before{
    content:'';
    width: 85%;
    height: 3px;
    background-color: #4566BA;
    display: block;
    margin: auto;
    border-radius: 5px;
}
img{
    width: 15vh;
    height: 15vh;
    border-radius: 50%;
}
.row > .col-5 {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.row > .col-7{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}
.col-7 > div:nth-child(1) > b{
    font-size: 20px;
    text-transform: capitalize;
}
.mycard{
    cursor: pointer;
}
.mycard .ket{
    margin-bottom: 15px;
}
.comment-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.comments{
    width: 90%;
    min-height: 30vh;
    max-height: 30vh;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y:auto;
    background-color: white;
}
.comment{
    width: 100%;
    background-color: white;
    min-height: 80px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding: 10px 20px;
}
.comment .pp{
    width: 30%;
}
.comment .pp img{
    width: 60px;
    height: 60px;
    border-radius: 60%;
}
.comment h1{
    font-size: 18px;
}
.comment p{
    margin-bottom: 0;
}
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .comments::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  .comments::-webkit-scrollbar-thumb {
    background: #4566BA;
    border-radius: 30px;
  }
  
  /* Handle on hover */
  .comments::-webkit-scrollbar-thumb:hover {
    background: white;
  }
  .left-bar{
    width: 60%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -60vw;
    background-color: white;
    transition: all .3s ease-in-out;
    z-index: 1040;
  }
  .left-bar.show{
    left: 0;
  }
.backdrop{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.425);
    opacity: 0;
    transition: all .3s ease-in-out;
  }
.backdrop.show{
    opacity: 1;
    z-index:1035;
  }
  .filter{
    cursor: pointer;
  }
  .kotaVal{
    text-transform: capitalize;
  }