/* css template */
body{
    width: 100%;
    overflow: auto;
    margin:auto;
    min-height: 100vh;
    background-color: rgba(174, 215, 237, 0.712) !important;
    font-size: 20px;
    transition: 0.3s;
}
.container-hp{
    margin: auto;
    background-color: #ffffff;
    max-width: 780px;
    min-height: 100vh;
    position: relative;
}

.content {
    border-radius: 20px;
}

.fixed-top {
    max-width: 780px;
    position: fixed;
    background: #387CF3 !important;
}